[Unit]
Description=Glances: real-time monitoring tool
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/venv/bin/
ExecStart=/usr/bin/sudo __INSTALL_DIR__/venv/bin/glances -w -B 127.0.0.1
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
